body{
  font-family: "Archivo", sans-serif;
}
.head1{
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 7px;
  
}
.p1{
  
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0px;
  opacity: 0.4;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 25px;
}
.box{
  background-color: antiquewhite;
  width: 245px;
  margin-right: auto;
  margin-left: auto;
  height: 360px;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 7px 15px #D3D3D3;
  
  
  
  
}
.up-box{
  background: linear-gradient( to bottom right,burlywood , saddlebrown);
  width: 100%;
  height: 18%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}
.all-image{
  text-align: center;
}
.imgbox{
  position: relative;
  display: inline-block;
  
  
}
.pers-img{
  height: 65px;
  width: 65px;
  border: 2.5px solid white;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30.5px;
  
  box-shadow: 0px 5.5px 10px gray;
}
.green-circle{
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  border: 1.5px solid white;
  position: absolute;
  bottom: 10px;
  right: 3px;
  
}
.under-pic{
  text-align: center;
}
.name{
  text-align: center;
  font-size: 0.8125rem;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  
}
.frontend{
  text-align: center;
  font-size: 0.5rem;
  font-weight: 500;
  margin-top: 1.5px;
  color: saddlebrown;
  margin-bottom: 2px;
}
.short-cv{
  text-align: center;
  opacity: 0.5;
  font-size: 0.4375rem;
  margin-top: 3px;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: 400;
  
}
.middle{
  text-align: center;
  background-color: rgba(222, 184, 135, 0.25);
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 15px;
  line-height: 1px;
}
.num-spans span{
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  line-height: 13px;
  margin-top: 10px;
}
.string-spans span{
  margin-top: 0px;
  display: inline-block;
  margin-right: 7.5px;
  margin-left: 7.5px;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.46875rem;
  line-height: 1px;
  margin-bottom: 10px;
}
.contact-info{
  
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  
}
.item{
  display: flex;
  align-items: center;
  grab: 1px;
  margin-bottom: 1px;
}
.info{
  font-size: 0.4375rem;
  font-weight: 500;
  opacity: 0.5;
  margin-top: 2px;
  line-height: 1px;
  margin-left: 3px;
}

.icons{
  background-color: rgba(222, 184, 135, 1);
  font-size: 0.5625rem;
  border-radius: 50%;
  margin: 2px;
  padding: 4px;
}
.bottom-links{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 5px;
  
}
.link-icon{
  
  font-size: 0.5625rem;
  border-radius: 50%;
  background-color: rgba(205, 133, 63, 0.8);
  margin: 2px;
  padding: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.link-icon a{
  color: black;
}
.last-buttons{
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-bottom: 5px;
}
.connect-btn{
  border-radius: 10px;
  background: linear-gradient(to right , burlywood,saddlebrown);
  font-size: 0.625rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 25px;
  padding-left: 25px;
  border-width: 0px;
  width: 50%;
  margin-left: 15px;
  
}
.connect-span{
  font-weight: 600;
  color: white;
}

.message-btn{
  border-radius: 10px;
  background-color: antiquewhite;
  height: 25px;
  width: 40%px;
  font-size: 0.625rem;
  font-weight: 600;
  border: 1.5px solid rgba(222, 184, 135, 0.5);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 25px;
  padding-left: 25px;
  width: 50%;
  margin-right: 15px;
}
.out-icon{
  height: 8px;
  width: 8px;
  
}
